<div class="container">
    <br>
    <app-galeria [peliculas]="cartelera | slice:0:6" titulo="Peliculas en cartelera"> </app-galeria>
    <app-galeria [peliculas]="pelisPopulares | slice:0:6" titulo="Peliculas populares"> </app-galeria>
    <app-galeria [peliculas]="popularesEntreNinos | slice:0:6" titulo="Peliculas populares entre los niños"> </app-galeria>
</div>

<h1>Mas populares</h1>
<hr>
<app-tarjetas [pelis]="pelisPopulares"></app-tarjetas>
<h1>Populares entre los mas pequeños</h1>
<hr>
<app-tarjetas [pelis]="popularesEntreNinos"></app-tarjetas>